<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>maxParticles</key>
    <integer>663</integer>
    <key>angle</key>
    <real>195.62</real>
    <key>angleVariance</key>
    <real>347.26</real>
    <key>duration</key>
    <real>-1</real>
    <key>blendFuncSource</key>
    <integer>770</integer>
    <key>blendFuncDestination</key>
    <integer>1</integer>
    <key>startColorRed</key>
    <real>0</real>
    <key>startColorGreen</key>
    <real>0</real>
    <key>startColorBlue</key>
    <real>1</real>
    <key>startColorAlpha</key>
    <real>0.37</real>
    <key>startColorVarianceRed</key>
    <real>0</real>
    <key>startColorVarianceGreen</key>
    <real>0</real>
    <key>startColorVarianceBlue</key>
    <real>0</real>
    <key>startColorVarianceAlpha</key>
    <real>0</real>
    <key>finishColorRed</key>
    <real>0</real>
    <key>finishColorGreen</key>
    <real>1</real>
    <key>finishColorBlue</key>
    <real>1</real>
    <key>finishColorAlpha</key>
    <real>0.33</real>
    <key>finishColorVarianceRed</key>
    <real>0.48</real>
    <key>finishColorVarianceGreen</key>
    <real>0.55</real>
    <key>finishColorVarianceBlue</key>
    <real>0.1</real>
    <key>finishColorVarianceAlpha</key>
    <real>0.79</real>
    <key>startParticleSize</key>
    <real>3.26</real>
    <key>startParticleSizeVariance</key>
    <real>43.89</real>
    <key>finishParticleSize</key>
    <real>68.49</real>
    <key>finishParticleSizeVariance</key>
    <real>42.36</real>
    <key>sourcePositionx</key>
    <real>300</real>
    <key>sourcePositiony</key>
    <real>300</real>
    <key>sourcePositionVariancex</key>
    <real>123.5</real>
    <key>sourcePositionVariancey</key>
    <real>377.2</real>
    <key>rotationStart</key>
    <real>349.54</real>
    <key>rotationStartVariance</key>
    <real>270.01</real>
    <key>rotationEnd</key>
    <real>88.02</real>
    <key>rotationEndVariance</key>
    <real>260.9</real>
    <key>emitterType</key>
    <integer>1</integer>
    <key>gravityx</key>
    <real>-10.56</real>
    <key>gravityy</key>
    <real>-293.46</real>
    <key>speed</key>
    <real>195.29</real>
    <key>speedVariance</key>
    <real>153.96</real>
    <key>radialAcceleration</key>
    <real>303.43</real>
    <key>radialAccelVariance</key>
    <real>476.98</real>
    <key>tangentialAcceleration</key>
    <real>59.24</real>
    <key>tangentialAccelVariance</key>
    <real>111.66</real>
    <key>maxRadius</key>
    <real>455.75</real>
    <key>maxRadiusVariance</key>
    <real>176.33</real>
    <key>minRadius</key>
    <real>41.17</real>
    <key>rotatePerSecond</key>
    <real>-125.82</real>
    <key>rotatePerSecondVariance</key>
    <real>139.04</real>
    <key>particleLifespan</key>
    <real>0.46</real>
    <key>particleLifespanVariance</key>
    <real>0.42</real>
    <key>textureFileName</key>
    <string>Vortextexture.png</string>
  </dict>
</plist>